# Node dependencies
node_modules/
npm-debug.log*

# Environment files
.env
*.pem

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.apk
*.zip

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
